.login__container{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.col-12 img{
    width: 100%;
    height: 50%;
}

.login__title{
    color: white;
    font-size: 30px;
}

.login__logo{
    display: flex;
    justify-content: center;
    font-family: 'Signika', sans-serif;
    padding: 40px;
}